 <h1>HOME PAGE</h1>


{{#each cats}}

<article>
    <h3>
         {{name}}
    </h3>
       
     {{#if isStar}}   
        <div>SUPERSTAR</div>
     {{/if}}
    <img src="{{imageUrl}}" alt="DA">


</article>

{{/each}}


