<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cat Shelter</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/add-cat">ADD CAT</a></li>
            <li><a href="add-breed">ADD BREED</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>