body{
  background-color: aquamarine;
}

section{
  display: none;
}

/* label{
  display: block;
} */


#parts li {
  cursor: pointer;       /* Променя курсора на ръка */
  text-decoration: underline; /* Прави текста подчертан */
  color: blue;           /* По желание - да изглежда като линк */
}

