body{
  background-color: aquamarine;
}

section{
  display: none;
}

label{
  display: block;
}

#parts li{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.details>p {
  text-decoration: none !important;
  color: black !important;
}

#list h4{
  color:  rgb(210, 46, 46);
  text-decoration: underline;
  cursor: pointer;
}


